<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Arham Collection</string>
		<key>Mobile Number</key>
		<string>7401312003</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ambika Jewels</string>
		<key>Mobile Number</key>
		<string>9940162078</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bhavani Art</string>
		<key>Mobile Number</key>
		<string>9677114239</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Carret 9</string>
		<key>Mobile Number</key>
		<string>9909958284</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jija Antique</string>
		<key>Mobile Number</key>
		<string>9822903008</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>NJ Kubar</string>
		<key>Mobile Number</key>
		<string>9500064189</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Parshwa Creatiion</string>
		<key>Mobile Number</key>
		<string>98405275965</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ramdev Jewels</string>
		<key>Mobile Number</key>
		<string>9790685669</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Uma Novelty</string>
		<key>Mobile Number</key>
		<string>9886774433</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Marigold</string>
		<key>Mobile Number</key>
		<string>7510667891</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>New Selection</string>
		<key>Mobile Number</key>
		<string>9791504618</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Excellent Gems</string>
		<key>Mobile Number</key>
		<string>9414279716</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Kaizen Kohinoor</string>
		<key>Mobile Number</key>
		<string>9009193352</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bhavani Bangle</string>
		<key>Mobile Number</key>
		<string>9427804610</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bharat Jewel</string>
		<key>Mobile Number</key>
		<string>8903968941</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Vijay Jewellery</string>
		<key>Mobile Number</key>
		<string>9590065313</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Kolhapuri Tushi</string>
		<key>Mobile Number</key>
		<string>9175567575</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Surya Jewels</string>
		<key>Mobile Number</key>
		<string>8890828127</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Rooank Jewellery</string>
		<key>Mobile Number</key>
		<string>9712400349</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dev Beads</string>
		<key>Mobile Number</key>
		<string>7708654306</string>
	</dict>
</array>
</plist>
